* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
  background: #0e0e0e;
  overflow: hidden;
}

a {
  font-size: 30px;
  color: #ffc408;
  text-decoration: none;
}

ul {
  padding: 30px;
  list-style: none;
}

li + li {
  margin-top: 20px;
}

canvas {
  width: 100%;
  height: 100vh;
}
